<footer>
    <!-- <div class="footer-top">
      <div class="bg-green-500 text-white text-center px-4 py-3 text-lg md:text-xl">
        <strong>
          Disclaimer: Mutual Fund Investments are subject to market risks. Please read the offer documents before investing.
        </strong>
      </div>
    </div> -->
    <div class="bg-gray-800">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-2 gap-8 md:grid-cols-4">
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Company</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="{{ '/about/' | relative_url }}" class="text-base text-gray-400 hover:text-white">About Us</a></li>
                        <li><a href="{{ '/process/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Investment Process</a></li>
                        <li><a href="{{ '/philosophy/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Philosophy</a></li>
                        <li><a href="{{ '/careers/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Careers</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Resources</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="{{ '/blog/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Investor Education (Blog)</a></li>
                        <li><a href="#" class="text-base text-gray-400 hover:text-white">Market Research</a></li>
                        <li><a href="{{ '/calculators/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Calculators</a></li>
                        <li><a href="{{ '/risk-quiz/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Risk Profile</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Legal</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="{{ '/privacy-policy/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Privacy Policy</a></li>
                        <li><a href="{{ '/terms-and-conditions/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Terms and Conditions</a></li>
                        <li><a href="{{ '/disclaimer/' | relative_url }}" class="text-base text-gray-400 hover:text-white">Disclaimer</a></li>
                         <li><a href="https://scores.sebi.gov.in/" target="_blank" class="text-base text-gray-400 hover:text-white">SEBI SCORES</a></li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-gray-300 tracking-wider uppercase">Quick Links</h3>
                    <ul class="mt-4 space-y-4">
                        <li><a href="https://www.amfiindia.com/" target="_blank" class="text-base text-gray-400 hover:text-white">AMFI</a></li>
                        <li><a href="https://www.sebi.gov.in/" target="_blank" class="text-base text-gray-400 hover:text-white">SEBI</a></li>
                        <li><a href="https://www.camskra.com/" target="_blank" class="text-base text-gray-400 hover:text-white">Check Your KYC</a></li>
                        <li><a href="/assets/arn.pdf" target="_blank"  class="text-base text-gray-400 hover:text-white">ARN Certificate</a></li>
                    </ul>
                </div>
            </div>
            <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
                <div class="flex space-x-6 md:order-2">
                    <a href="https://www.facebook.com/earthencapital/" target="_blank" class="text-gray-400 hover:text-white">
                        <i data-feather="facebook" class="h-6 w-6"></i>
                    </a>
                    <a class="text-gray-400 hover:text-white">
                        <i data-feather="twitter" class="h-6 w-6"></i>
                    </a>
                    <a href="https://www.instagram.com/earthen.capital/" target="_blank" class="text-gray-400 hover:text-white">
                        <i data-feather="instagram" class="h-6 w-6"></i>
                    </a>
                    <a class="text-gray-400 hover:text-white">
                        <i data-feather="youtube" class="h-6 w-6"></i>
                    </a>
                </div>
                <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
                    &copy; 2025 Earthen Capital. All rights reserved.<br/>
                    AMFI registered Mutual Fund Distributor (ARN-345670).
                </p>
            </div>
        </div>
    </div>
</footer>